//IMPORT SASS MIXIN LIBRARIES AND SETTINGS 
@import "../mixins/settings.scss"; 

.editor-wrap {
    @include span-columns(6);
    border-right: solid 1px #888;
    margin: 0;
    padding: 0;
    height: 100%;
    float: left; 
    
    .editor-menu {
        background-color: white;
        @include span-columns(12); 
    }
    
    .button-group {
        background-color: #fff;
        .button-group-item {
        
        }
    }
    
    #editor-textarea {
        @include span-columns(12); 
        min-height: 100%; 
    }
}

.preview-wrap {
    @include span-columns(6);
    height: 100%; 
    float: right;
}
